<form [formGroup]="productForm">
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input type="number" matInput formControlName="price">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
</form>

<div>
  <button mat-raised-button (click)="back()">Back</button>
  <button mat-button [disabled]="productForm.invalid" (click)="save()">Update</button>
</div>
